@page
@model TareaRazorPage.Pages.Juegos.DeleteModel

@{
    ViewData["Title"] = "Borrar juego";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro que quieres borrar este registro?</h3>
<div>
    <h4>Juego</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Juego.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Juego.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Juego.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Juego.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Juego.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Juego.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Juego.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Juego.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Juego.ID" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver al registro</a>
    </form>
</div>
