@page
@model TareaRazorPage.Pages.Juegos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Juego</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Juego.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Juego.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Juego.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Juego.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Juego.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Juego.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Juego.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Juego.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Juego.ID">Editar</a> |
    <a asp-page="./Index">Volver al registro</a>
</div>
